<!DOCTYPE html>
{% extends "pdfscanner/base.html" %}

{% block body_block %}

    <div class="jumbotron">
      <h1 class="display-4">END USER AGREEMENT</h1>

        <div class="elementor-widget-container">
			<p><b>IMPORTANT-READ CAREFULLY:</b>&nbsp;This end-user agreement (this “Agreement”) is a legally binding agreement between you, an individual User or a single entity, and talaw.com&nbsp;Pty Ltd ACN&nbsp;006 372 265&nbsp; covering your use of the document sharing cloud solution known as TA Law eBrief (“Service”). We will refer to ourselves in this Agreement as “TA Law”, “we” or “us”. Your use of the Service is conditional on your acceptance of the terms set forth in this Agreement. By using or continuing to use our Services, you agree to be bound by this Agreement.&nbsp;<strong>You must read this Agreement carefully before accessing or using our Services.</strong></p>
<p>Last updated March 21, 2019<br>
&nbsp;</p>
<h2 class="h3">I. The Service</h2>
<p><strong>1.1 Eligibility for Service</strong></p>
<p>You may not use the Service and may not accept the terms set forth in this Agreement if you are barred by law from receiving the Service.</p>
<p><strong>1.2 The Service</strong></p>
<p>We will provide you with access and use of the TA Law eBrief system by allowing you to create an account if you meet the requirements set out in this Agreement.</p>
<p>In this Agreement, barristers, advocates, solicitors, clients, experts, court reporters and any other category of users are collectively referred to as “Users”. Users must have an account to access the TA Law eBrief system.</p>
<p>The TA Law eBrief system assists barristers and advocates and manages their cases by allowing Users to create a matter for each case, upload documents related to the case and share these documents with other Users. Users are able to share the matter folder with other Users and give access to other Users to upload documents and manage the matter. The documents are saved as part of the matter on a&nbsp;<strong>TA Law eBrief</strong> server, allowing searching, downloading and extraction at a later date.</p>
<p>To use the Services, you must have a computer [or mobile device] with an up-to-date operating system and web browser, and a fast internet connection.<br>
&nbsp;</p>
<h2 class="h3">II. Important Note</h2>
<p><strong>2.1 Privacy Policy</strong></p>
<p><strong>TA Law</strong>&nbsp;holds any personal information you provide in accordance with its privacy policy, the current version of which is posted on&nbsp;<strong><a href="https://ebrief.net.au/privacy" target="_blank" rel="noopener noreferrer">ebrief.net.au/privacy</a></strong>&nbsp;(“<strong>Privacy Policy</strong>”). The Privacy Policy is hereby incorporated by reference into this Agreement. By accepting the terms of the Agreement, you acknowledge you have read and agree to the terms of the Privacy Policy.</p>
<p><strong>2.2 Amendments</strong></p>
<p>We may amend this Agreement or the Privacy Policy at any time in our sole discretion. We will notify you of any such amendments by e-mail or online posting or when you next use the Service.</p>
<p>We will notify you or publish amendments on the&nbsp;<strong>TA L</strong><strong>aw eBrief</strong>&nbsp;website at least 10 days before the change is in force (provided that amendments to the Privacy Policy will take immediate effect from the date on which notice&nbsp;of such amendment is posted online).</p>
<p>If you do not agree to such amendments, then you must stop using the Service; if you continue using the Service after the date on which any such amendments come into force, you will be deemed to have agreed to such amendments.<br>
&nbsp;</p>
<h2 class="h3">III. Application of Agreement</h2>
<p><strong>3.1 Agreement applies to all Users</strong></p>
<p>This Agreement applies to all Users of the Service, including if you are using our Services on behalf of an organization or on your own behalf.</p>
<p>We may also have other agreements with you (or the organization who you represent) which apply in addition to this Agreement, including cloud services agreements which relate to certain cloud services for Diary, Accounting, CRM and Mailroom systems.</p>
<p>To the extent that there is any inconsistency between this Agreement and another agreement between you and us, this Agreement will prevail in relation to the Services unless the other agreement expressly states otherwise.</p>
<p><strong>3.2 Corporations or law firms</strong></p>
<p>If you are a corporation, law firm, or have entered into this Agreement on behalf of a corporation or law firm, the corporation or law firm is responsible for ensuring that all of its partners, employees and agents comply with the terms of this Agreement.<br>
&nbsp;</p>
<h2 class="h3">IV. Copyright and Intellectual Property</h2>
<p><strong>4.1 In the Service</strong></p>
<p>Copyright and other intellectual property laws and treaties protect the Service. We own all right, title and interest in and to the Service (and each portion of the Service), and all associated copyright and other intellectual property rights in and to the Service (excluding the content that you upload to the Service).</p>
<p><strong>4.2 In the content you upload</strong></p>
<p>Unless clause 4.3 applies, we acknowledge and agree that as between you and us, you own all intellectual property rights in the content that you upload to the TA Law eBrief system or otherwise provide to us for the purpose of us performing the Services.</p>
<p>You grant us a limited, non-exclusive, perpetual, revocable, royalty-free and non-transferable licence to use the intellectual property rights in any content you upload or provide to use to the extent necessary for us to perform the Services or to otherwise exercise our rights or to comply with our obligations under this Agreement or any other agreement we have with you.</p>
<p>We may sub-license this license to third party service providers who assist us in providing the Services, and to other Users who access and use the Services.</p>
<p><strong>4.3 Your obligations</strong></p>
<p>You are responsible for ensuring that you do not, in using the Service, infringe or violate any other person’s intellectual property or privacy rights or misappropriate confidential information.</p>
<p>You represent to us that you are using the Service for the purposes of a judicial proceeding or for the purpose of the giving or receiving of professional advice by a legal practitioner, patent attorney or trade marks attorney.&nbsp;<strong>TA Law</strong>&nbsp;disclaims responsibility if you fail to comply with any of 4.2(a) to 4.2(d) above.</p>
<p><strong>4.4 Suggestions</strong></p>
<p>From time to time, you or your employees or agents may send to&nbsp;<strong>TA Law</strong>&nbsp;suggestions, materials, information, ideas or concepts relating to the Service or any other matters (“<strong>Ideas</strong>“). You hereby grant to&nbsp;<strong>TA Law</strong>&nbsp;a royalty-free, perpetual, irrevocable, non-exclusive right (including any moral rights) to use such Ideas as&nbsp;<strong>TA Law&nbsp;</strong>sees fit, without payment of a fee. Without limiting the foregoing, no Idea will be subject to any confidentiality obligation.<br>
&nbsp;</p>
<h2 class="h3">V. Your rights, obligations and liability</h2>
<p><strong>5.1 Your account</strong></p>
<ol>
<li>In order to use all features of the Service, you must create an account with us, including selecting a unique username and password.</li>
<li>You are fully responsible for maintaining the confidentiality of your username and password, and for all activities that are conducted through or under your account.</li>
<li>You must not under any circumstances share your password with any other person.</li>
<li>You must not transfer, sell, rent, lend or otherwise dispose of your username or password (or attempt to do any of the foregoing).</li>
<li>You must inform us immediately if you suspect or become aware of a breach of security relating to your account and you must change your password.</li>
</ol>
<p><strong>5.2 Your obligations</strong></p>
<p>When you create an account, you agree to:</p>
<ol>
<li>Provide accurate, current and complete information for the indicated mandatory fields (including a valid email address); and</li>
<li>Maintain and update your information to keep it accurate, current and complete; and</li>
<li>If you supply any inaccurate, false or incomplete information (or fail to keep such information current), we have the right to terminate your account and access to the Service.</li>
</ol>
<p><strong>5.3 Fees</strong></p>
<ol>
<li>Access to the TA Law eBrief system is free and includes 10GB of space. However, we may decide to charge fees for some of our Services in the future.</li>
<li>If your eBrief account reaches a capacity of 10GB or more, you may be requested to upgrade your account and pay for extra storage space. If you are requested to upgrade your account and pay for extra storage, we will provide you with a price list at that time.</li>
<li>If you do not upgrade your account and pay for extra storage you may be restricted from uploading further documents to the TA Law eBrief system until you:
<ol style="margin-top: 8px;">
<li>Purchase extra storage space; or</li>
<li>Create extra space on your account by deleting documents from your account.</li>
</ol>
</li>
</ol>
<p><strong>5.4 Use of the Service</strong></p>
<p>You must use the Service in a responsible and reasonable manner. You must not use the Service in a way that is against the law or that harms us or our partners, affiliates, customers and/or suppliers. You must not, for example:</p>
<ol>
<li>Attempt to gain access to, alter or disrupt any account, software, hardware (including, without limitation, the Service) or network relating to the Service without authorization;</li>
<li>Use the Service to document, reproduce, share or store pornographic or adult material;</li>
<li>Use the Service to document, reproduce, share or store defamatory material, other than for the purpose of litigation or the provision of legal advice;</li>
<li>Use the Service to document, reproduce, share or store illegal material, other than for the purpose of a litigation or the provision of legal advice;</li>
<li>Use automatic scripts or programs (including web crawlers) to access or attempt to gain access to the Service;</li>
<li>Attempt to access the Service other than through TA Law’s designated website or as otherwise permitted by TA Law;</li>
<li>Remove or alter any copyright, trademark, logo or other proprietary notice or label appearing on or in the Service;</li>
<li>Reverse engineer, decompile or disassemble the Service, or otherwise attempt to derive the source code or trade secrets of the Service except as, and then only to the extent, expressly permitted by applicable law;.</li>
<li>Create any derivative works of the Service;</li>
<li>Rent, lease, lend-for-profit or provide commercial hosting of the Service, or otherwise provide or make available the Service to any other person for their use;</li>
<li>Resell the Service to any person;</li>
<li>Create a white label service using the Service;</li>
<li>Frame any website provided via the Service; and</li>
<li>Use the Service other than as expressly permitted by this Agreement, or in any manner that TA Law reasonably determines to be inappropriate or excessive.</li>
</ol>
<p><strong>5.5 Purpose</strong></p>
<p>You have no right to use the Service for any purpose other than as specified in this Agreement. The rights granted to you in this Agreement are your only rights in relation to the Service.</p>
<p><strong>5.6 Your warranties and representations</strong></p>
<p>You warrant and represent that:</p>
<ul>
<li>If you are using the Services (including uploading content) on behalf of another person, organization or law firm, you have and continue to hold the necessary permission to act on that person, organization or law firm’s behalf;</li>
<li>You will use the Services in accordance with this Agreement;</li>
<li>You will not use our Services or any information you obtain during the course of us providing the Services for any improper or unlawful purpose; and</li>
<li>You will not infringe any person’s intellectual property rights (as they are defined in clause 4) during the course of your use of the Services.</li>
</ul>
<p><strong>5.7 Your liability</strong></p>
<p>You are liable for any loss or damage directly or indirectly caused by any breach of your obligations under this Agreement.</p>
<p><strong>5.8 Your indemnity</strong></p>
<p>You agree to indemnify TA Law for all losses, liabilities, damages and costs and expenses (including without limitation reasonable legal and attorneys’ fees) that TA Law may suffer or incur arising out of or relating to your use or misuse of the Service or breach of this Agreement, or in respect of any claim made or legal or regulatory action brought against TA Law arising out of or relating to your conduct or your use or misuse of the Service or breach of this Agreement.</p>
<p><strong>5.9 Our legal relationship with Users</strong></p>
<p>Nothing contained or implied in this Agreement means a User is a partner, agent or legal representative of us for any purpose, or creates any partnership, agency or trust. No User has any authority to bind us in any way. Any relationship we have with Users is as a service provider, and you acknowledge that we do not employ you.</p>
<p><strong>5.10. Cancellation of your account</strong></p>
<ol>
<li>You may cancel your account at any time by contacting us in accordance with clause 14 of this Agreement.</li>
<li>If you cancel your account we may retain a copy of your content for archival or legal purposes. You acknowledge and agree that we are not required to maintain a copy of any content you have uploaded to the TA Law eBrief system, and we may delete such content and any other data owned by you without your consent upon cancellation of your account, unless otherwise agreed.</li>
</ol>
<h2 class="h3">VI. Our rights, obligations and liability</h2>
<p><strong>6.1 Provision of the Services</strong></p>
<p>We provide the Services strictly on an “as-is” and “as available” basis and to the maximum extent permitted by law, we exclude all warranties, terms, conditions or undertakings whether express or implied, statutory or otherwise, including that the Services will be:</p>
<ul>
<li>Available at any particular time;</li>
<li>Secure or error-free;</li>
<li>Fit for any particular purpose; or</li>
<li>Will meet any standard or specification.</li>
</ul>
<p><strong>6.2 Limitation of Services</strong></p>
<p>We may limit your access to or use of the Services at any time and for any reason, including for any breach of this Agreement or misuse of the Services.</p>
<p><strong>6.3 Updates</strong></p>
<p>We may change, modify or remove some or all of the Services at any time and at our sole discretion.</p>
<p>This Agreement does not grant you any right to enhancements or updates to the TA Law eBrief system although TA Law may make available such enhancements or updates to the TA Law eBrief system as it sees fit in its absolute discretion.</p>
<p>Where TA Law chooses to make any patches, updates, add-ons or hot-fixes to the TA Law eBrief system available, this Agreement also applies to these changes unless they are accompanied by separate terms.</p>
<p><strong>6.4 Storage of content</strong></p>
<p>We are not legally required to back-up, store, maintain or provide you a copy of any content. However, where we create a back-up copy of your content, we may provide you with a copy upon request subject to your payment of any additional costs we may charge. We are not responsible or liable for any loss of data or content resulting from your use of the Services.</p>
<p><strong>6.5 User-generated content</strong></p>
<p>We are not responsible or liable for any content that is created by or uploaded to the TA Law eBrief system by other Users. Specifically, we do not warrant or represent that any content uploaded by Users:</p>
<ul>
<li>Is true and correct, and not misleading or deceptive;</li>
<li>Does not infringe any third party’s intellectual property rights or other proprietary rights; or</li>
<li>Does not breach any law or is offensive, defamatory or otherwise inappropriate.</li>
</ul>
<p>If you believe any content or information infringes your rights or is otherwise unlawful, please contact us on the details at the end of this Agreement.</p>
<p><strong>6.6 Limitation of Liability</strong></p>
<p>If TA Law is found to be liable to you (including in contract, tort (including negligence) or otherwise), TA Law’s liability is limited in all circumstances to one of the following options, as selected by TA Law:</p>
<ol>
<li>Resupply of the Service;</li>
<li>Supply of a similar Service;</li>
<li>Refunding the amount you paid for the Service;</li>
<li>Refunding the amount you paid for the Service plus the amount you paid for one month’s subscription;</li>
<li>Fixing the Service (if appropriate); or</li>
<li>Paying someone else to fix the Service (if appropriate).</li>
</ol>
<p><strong>6.7 Liability cap</strong></p>
<p>Notwithstanding clause 6.7, to the fullest extent permitted by applicable law,&nbsp;<strong>TA Law</strong>’s total cumulative liability to you in connection with this Agreement, whether in contract or tort (including negligence) or otherwise, will not exceed AUD $500.00<br>
&nbsp;</p>
<h2 class="h3">VII. Technical Requirements</h2>
<p><strong>7.1 Internet Connection</strong></p>
<p>You are fully responsible for all third party costs associated with accessing the Service, including without limitation all fees charged by your internet service provider.</p>
<p><strong>7.2 Maintenance</strong></p>
<p>We reserve the right to modify, change, suspend, limit or discontinue any aspect, feature or functionality of or relating to the Service at any time, without notice. Without limiting the foregoing, we have the right to interrupt the Service from time to time, as and when we deem appropriate, to perform maintenance relating to the Service.<br>
&nbsp;</p>
<h2 class="h3">VIII. Suspension, modification and termination of accounts</h2>
<p>If we suspect that you have breached any term of this Agreement, the Privacy Policy or any other policies, agreements or rules that may apply to you, if we are not able to verify any piece of information you have provided to us, or if you have in our sole determination otherwise acted in a manner which is inappropriate, we have the right to (without limitation):</p>
<ol>
<li>Remove your documents from the Service;</li>
<li>Suspend your ability to upload or share documents via the Service;</li>
<li>Suspend your access to the Service; and</li>
<li>Terminate your access to the Service.We reserve the right to take any such action without prior notice.</li>
</ol>
<ul>
<li>If your access to the Service is suspended or terminated for any reason or if your documents are removed from the Service, you will not be entitled to damages, or any refund or reimbursement of fees or amounts previously paid by or charged to you.</li>
</ul>
<h2 class="h3">IX. Termination</h2>
<ol>
<li><strong>TA Law</strong>&nbsp;may terminate this Agreement with immediate effect if you commit what&nbsp;<strong>TA Law</strong>&nbsp;considers to be a material breach of this Agreement.</li>
<li>Upon termination of this Agreement, you must immediately cease to use the Service and not attempt to access the Service.</li>
<li>If this Agreement is terminated, we may retain a copy of your content for archival or legal purposes. You acknowledge and agree that we are not required to maintain a copy of any content you have uploaded to the TA Law eBrief system, and we may delete such content and any other data owned by you without your consent upon termination.</li>
<li>Clauses 2.1, 4, 5.6, 5.7, 5.8, 6.6, 9 and 10 of this Agreement survive termination.</li>
</ol>
<h2 class="h3">X. Dispute Resolution</h2>
<p>In the event that any disputes arise in relation to the Services or this Agreement, you agree to:</p>
<ul>
<li>First contact us to discuss;</li>
<li>If we are unable to resolve the matter within 14 days of being notified, we will arrange a time for one of our senior representatives to contact you (or your senior representative) at a convenient time to discuss;</li>
<li>If we are unable to resolve the dispute between our senior representatives, the matter will be referred to mediation, with a mediator to be appointed by the Institute of Arbitrators and Mediators Australia or Chartered Institute of Arbitrators (UK) (whichever is applicable);</li>
<li>If the dispute is not able to be resolved by mediation, the parties may agree to implement further alternative dispute resolution processes.</li>
</ul>
<p>Nothing in this clause 10 prevents you or us from seeking urgent injunctive relief from a court.<br>
&nbsp;</p>
<h2 class="h3">XI. No Warranty</h2>
<p><strong>11.1 ‘As Is’</strong></p>
<p>The Service is provided on an “as is” basis and, to the fullest extent permitted by applicable law, TA Law hereby expressly disclaims all warranties, whether express, implied or statutory, including, without limitation, any implied warranties of merchantability, fitness for a particular purpose, non-infringement, title, reliability, accuracy, completeness and quiet enjoyment. You may have additional consumer rights under your local laws that this Agreement cannot change. Any implied warranties that cannot be excluded are limited to 30 days or the shortest period permitted by applicable law, whichever is greater.</p>
<p><strong>11.2 Security and access</strong></p>
<p>We implement industry standard systems and take reasonable measures consistent with commercially available security practices to secure the Service from unauthorized access and to protect the integrity and confidentiality of the transmission, processing, and storage of your content.</p>
<ol>
<li>However, any transmission of data over the internet is inherently risky. You acknowledge and agree that you are responsible for your access to the Services, for the computer or mobile device and associated software that you use to access the Services, and for your transmission of data over the internet.</li>
<li>You are responsible for taking your own precautions to ensure that your access to the Services does not expose you to the risk of interference or damage to your content or your computer system or network.</li>
<li>com makes no warranty regarding your access to the Service or&nbsp;<strong>TA Law eBrief</strong>&nbsp;website. Due to the nature of the internet and software programs, during the use of the Service, you may experience errors, poor network performance and other issues that detract from your use of the Service. While&nbsp;<strong>TA Law</strong>&nbsp;takes steps to maintain the Service, it does not warrant that the Service will be constantly available or warrant that you will have uninterrupted and error-free access to the Service.</li>
<li>Further, due to regulatory or technical restrictions, you may not be able to access the Service from your location. You should verify access prior to accepting the Agreement –&nbsp;<strong>TA Law</strong>&nbsp;is not responsible for your inability to access the Service.</li>
<li>Further, and without limiting any other term of this Agreement, we are not responsible for:
<ol style="margin-top:8px;">
<li>Internet, electronic, hardware, software, network or other computer-related failures, malfunctions or errors;</li>
<li>Any disruptions, damages, losses, failures or errors that are caused by events or occurrences that are beyond our control; or</li>
<li>Typographical, processing, mechanical or human errors.</li>
</ol>
</li>
</ol>
<p><strong>11.3 Consequential Loss</strong></p>
<p>To the fullest extent permitted by law, you cannot recover from us any special, incidental, indirect, punitive or consequential damages, including without limitation, any damages for loss of profits, revenues, time, money, privacy, or confidential or other information, arising out of or relating to your use or inability to use the Service. Without limiting the foregoing, to the fullest extent permitted by law, you cannot recover from us any special, incidental, indirect, punitive or consequential damages for any losses arising from or relating to:</p>
<ol>
<li>The provision of, or failure or delay to provide the Service or related support services;</li>
<li>The loss, corruption, removal or amendment of any data;</li>
<li>The loss or corruption of your Service account or other User profile information stored on the Service, even if TA Law has been advised of the possibility of such damages.</li>
</ol>
<p>Some jurisdictions do not allow the exclusion of incidental, consequential or other damages, so the above limitation may not apply to you.<br>
&nbsp;</p>
<h2 class="h3">XII. General</h2>
<ol>
<li>Except as expressly stated herein, this Agreement and the Privacy Policy (as each may be amended from time to time as permitted under this Agreement) represents the entire agreement between us relating to your use of the Service.</li>
<li>If any term of this Agreement or the Privacy Policy is found to be unlawful, void or unenforceable, then that finding will not affect the validity and enforceability of any other term and the affected term will be changed and interpreted so as to best accomplish the objectives of such term within the limits of applicable law.</li>
<li>To the greatest extent permitted by applicable law, any claim related to your use of the Service, the Agreement or the Privacy Policy must be brought within 1 year of the date on which the act giving rise to the claim occurred.</li>
<li>com may assign or transfer any portion of the Agreement to any third party without your consent. You may not assign, sublicense or transfer any obligation imposed or right granted by the Agreement. Any attempt to do so will be void.</li>
<li>All parts of this Agreement apply to the maximum extent permitted by applicable law. A court may hold that we cannot enforce a part of this Agreement as written, and in such case, we will replace that part with terms that most closely match the intent of the part that we cannot enforce. The rest of the Agreement will not change.</li>
<li>Failure by TA Law to enforce its rights under the Agreement in no way waives its claims to such rights. If TA Law grants you an express waiver to certain terms or conditions in the Agreement, the waiver is only applicable to those express terms and on the conditions specified in the waiver.</li>
<li>In judicial or administrative proceedings, the Agreement (in printed or electronic form) applicable at the date relevant to the case is admissible and binding in the same manner as any other piece of evidence.</li>
<li>If you are accessing the Service through the Australian website (<a href="http://ebrief.talaw.com/?__hstc=253956183.70abdc7dad79f3d7da49addd369d78e6.1600054414134.1600054414134.1601852522506.2&amp;__hssc=253956183.1.1601852522506&amp;__hsfp=1780253037">ebrief.net.au</a>) this Agreement is governed by and construed in accordance with the laws of Victoria, Australia and by using the Service you agree that any dispute or controversy between us relating to the Service or this Agreement will be subject to the jurisdiction of the courts of Victoria and its courts of appeal.</li>
</ol>
<h2 class="h3">XIII. Notices</h2>
<p>Where we are required or permitted to give you information (eg a notice), we may do so in any way, including by:</p>
<ol>
<li>Giving you the information in person; or</li>
<li>Giving you the information by telephone, mail or email using the contact details you give to us; or</li>
<li>Making the information available at&nbsp;<a href="http://ebrief.talaw.com/?__hstc=253956183.70abdc7dad79f3d7da49addd369d78e6.1600054414134.1600054414134.1601852522506.2&amp;__hssc=253956183.1.1601852522506&amp;__hsfp=1780253037" target="_blank" rel="noopener noreferrer">ebrief.net.au</a></li>
</ol>
<p>Where we give you information in person or by telephone, it is taken to be received by you at the time we give it. &nbsp;Where we give you information by mail, it is taken to be received by you on the third day after posting. Where we give you information by email, it is taken to be received by you when the email is sent, regardless of any response to the email. Where we make information available on our website, it is taken to be received by you at the time the information is made available on the website.<br>
&nbsp;</p>
<h2 class="h3">XIV. Contact Details</h2>
<p>TA Law can be contacted at:</p>
<p><strong>Australia</strong><br>
Level 2, 520 Bourke Street<br>
Melbourne, 3000</p>
<p>Level 2, 520 Bourke Street<br>
Victoria, Australia</p>
<p>Telephone: +61 3 9020 4456,<br>
Website:&nbsp;<a href="https://ebrief.net.au/" target="_blank" rel="noopener noreferrer">ebrief.net.au</a></p>
		</div>
</div>


{% endblock %}