<!DOCTYPE html>
{% extends "pdfscanner/base.html" %}

{% block body_block %}

    <div class="jumbotron">
      <h1 class="display-4">PRIVACY POLICY</h1>
<div class="elementor-element elementor-element-5997198 text-only-page-content elementor-widget elementor-widget-theme-post-content" data-id="5997198" data-element_type="widget" data-widget_type="theme-post-content.default">
				<div class="elementor-widget-container">
			<p>Talaw.com Pty Ltd ACN 006 372 265, (referred to as “<b>TA Law</b>”, “<strong>we</strong>”, “<strong>us</strong>” or&nbsp;“<strong>our</strong>”) is committed to the protection and privacy of the personal information we collect.</p>
<p>Last updated<br>
&nbsp;</p>
<h2 class="h3">I. About this privacy policy</h2>
<p>Our privacy policy describes how we manage personal information, including the kinds of personal information we collect, the purposes for which we collect personal information, and how we hold, use and disclose personal information.</p>
<p>By using our document sharing cloud for the Australian judiciary (known as TA Law&nbsp;eBrief), or by providing your personal information to us you agree to the terms of our privacy policy. If you do not agree to our privacy policy, please do not use the Services.</p>
<p>We may make changes to our privacy policy from time to time to take into account changes to our standard practices and procedures or where necessary to comply with new laws and regulations.</p>
<p>The latest version of our privacy policy will always be available on our website&nbsp;<a href="http://www.talaw.com/?__hstc=253956183.70abdc7dad79f3d7da49addd369d78e6.1600054414134.1600054414134.1601852522506.2&amp;__hssc=253956183.3.1601852522506&amp;__hsfp=1780253037" target="_blank" rel="noopener noreferrer">ebrief.net.au</a>&nbsp;(“<strong>Website</strong>”). An updated version of our privacy policy will apply from the date it is uploaded to our Website.</p>
<p>We encourage you to check our Website from time to time to ensure that you are aware of our current privacy policy.<br>
&nbsp;</p>
<h2 class="h3">II. What information do we collect?</h2>
<p>We collect information which can be used to identify or contact you, and enables us to provide the Services to you, such as:</p>
<ul>
<li>identifying information, such as your name and date of birth;</li>
<li>contact information, such as your address, email address and telephone/mobile number;</li>
<li>financial information, such as bank account or other payment details;</li>
<li>for our employees, employee records that may contain personal information including safety information (e.g. location information, emergency contacts) and travel and right to work information (e.g. copies of passports, visas and drivers licences);</li>
<li>usernames and passwords that you create when registering for an account with us;</li>
<li>your organisation and position, where your organisation has business dealing with us;</li>
<li>information about your occupation and employer organisation;</li>
<li>computer capabilities and preferences including IP addresses, browser type and language, website access times, referring website addresses;</li>
<li>details of any Services we provide to you or your organisation;</li>
<li>how and when you use our Website or Services, including how many documents you upload, what type of documents you upload, who you contact and how often you contact them;</li>
<li>records of our communications with you, such as telephone, email, SMS, online and in-person communications;</li>
<li>other information that you provide us during the course of business; and</li>
<li>other information that is capable of identifying you.</li>
</ul>
<p>If you do not wish to provide any of the above information you may not be able to use the Services or other features on our Website.<br>
&nbsp;</p>
<h2 class="h3">III. How do we collect information?</h2>
<p>We may collect personal information in a variety of ways, including:</p>
<ul>
<li>when you register to use our Services;</li>
<li>when you use our Website or Services;</li>
<li>when you visit our sites or offices;</li>
<li>when you submit a query or request to us;</li>
<li>when you respond to a survey that we run or fill in forms on our Website;</li>
<li>by tracking your use of our Website and Services;</li>
<li>from third parties who are entitled to disclose that information to us;</li>
<li>from publically available sources;</li>
<li>from online sources (including social media platforms and providers (e.g. LinkedIn);</li>
<li>from suppliers of information products and services (e.g. companies that consolidate data from multiple public sources);</li>
<li>when you apply for a job with us; or</li>
<li>other lawful means.</li>
</ul>
<p>From time to time, we may use third parties to collect personal information on our behalf, for example, to administer online competitions, customer feedback and surveys.</p>
<p>If you provide us with personal information about someone else, you must only do so if that person has consented to you doing so and to us collecting, holding, using and disclosing their information in accordance with our privacy policy.</p>
<p><strong>3.1 Cookies and IP address tracking</strong></p>
<p>We may collect personal information about you and your use of our Website and Services using cookies. We use cookies to monitor and observe your use of our Website and Services, compile aggregate data about that use, and provide you with more effective Services.</p>
<p>Cookies are small, usually randomly encoded, text files that help your browser navigate through a particular website. The cookie file is generated by the website you are browsing and is accepted and processed by your computer’s browser software. The cookie file is stored in your browser’s folder or subfolder. For more information, see:&nbsp;<a href="http://www.allaboutcookies.org/" target="_blank" rel="noopener noreferrer">http://www.allaboutcookies.org/</a></p>
<p>Most internet browsers will allow you to erase cookies from your computer hard drive, block acceptance of cookies, or receive a warning before a cookie is stored. Please note, however, that if you block cookies, some portions of our Website or Services may not function properly.</p>
<p>We may use your IP address or domain name for internal traffic monitoring and capacity management purposes or to otherwise administer our Website. &nbsp;No personal information is obtained, rather the patterns and usage of visitors to our Website may be tracked for the purposes of providing improved service and content based on aggregate or statistical review of user traffic patterns.<br>
&nbsp;</p>
<h2 class="h3">IV. How do we use the information we collect?</h2>
<p>We collect information for a variety of reasons, including to:</p>
<ul>
<li>verify your identity when you are dealing with us;</li>
<li>determine your eligibility for any of our Services;</li>
<li>maintain our relationship with you;</li>
<li>enable us to provide you or your organisation with our Services;</li>
<li>answer your queries and requests;</li>
<li>comply with our legal and regulatory obligations;</li>
<li>carry out market analysis and research;</li>
<li>monitor use of our Website and Services;</li>
<li>assess, operate, maintain, upgrade and improve our Website and Services;</li>
<li>provide better Services and information to our users;</li>
<li>manage and resolve any legal or commercial complaints or issues;</li>
<li>meet our obligations and perform our functions under applicable laws and agreements;</li>
<li>maintain and update our records;</li>
<li>use in accordance with any request or instructions from you;</li>
<li>carry out planning and forecasting activities and other internal business processes;</li>
<li>keep you informed about our activities and notify you of changes to our Website or Services;</li>
<li>make special offers related to our Services that we think may be of interest to you; and</li>
<li>use as otherwise required or authorised by law.</li>
</ul>
<p>We may also use your personal information for any other purpose as authorised by you.</p>
<p>We may use your personal information to allow other users of our Website and Services, including barristers, advocates, solicitors clients and experts, to contact you or access and share the documents you have uploaded onto our systems for that purpose.</p>
<p>We do not collect, review or control the content in or of any material a user may upload via our Website or Services, including personal information that may be in such material.</p>
<p>We do not disclose information about who you do business with via the Services, how often you use the Services or the cases or matters you are working on.</p>
<p><strong>4.1 Marketing</strong></p>
<p>We may use and disclose your personal information for marketing purposes. We will only provide you with direct marketing materials where you would reasonably expect us to, or if you consent to receive direct marketing materials. If we have obtained your personal information from a third party we will seek your consent to provide you with direct marketing materials.</p>
<p>Direct marketing communications may include promotional material about TA Law eBrief or the Services we provide. We may also contact you about our Services or special offers we think may be of interest to you. &nbsp;This information may be sent to you by email, SMS or by other means.</p>
<p>We may use and disclose your personal information to carry out consumer and market research, compile demographics and perform other research and analysis so that we can develop, design and implement initiatives to improve our Website and Services.</p>
<p>You can opt-out of receiving marketing communications from us at any time by following the ‘unsubscribe’ link in the communication or contacting us using the contact details below. &nbsp;Unsubscribing from promotional communications will not stop communications from us that concern your use of the Services, such as administrative alerts in relation to your account.</p>
<p><strong>4.2 De-identification and aggregation of information</strong></p>
<p>We may de-identify information about an individual so that the information can no longer be related to that individual. We may then use and disclose that de-identified information in the course of our business.</p>
<p>We may also aggregate information on the use of our Website and Services in such a way that the information can no longer be related to the specific individuals. We may then use and disclose such aggregated information in the course of our business (including in any promotional or marketing material).<br>
&nbsp;</p>
<h2 class="h3">V. Who do we disclose information to?</h2>
<p>We may disclose your personal information to other users of our Services, including barristers, advocates, solicitors clients and experts, so that they may use the Services to contact you or access and share the documents you have uploaded onto our systems for that purpose.</p>
<p>We may also disclose information to any representatives, advisers or others you have authorised to interact with us on your behalf, payment system operators and financial institutions, prospective purchasers of all or part of our business or shares in our company or a related entity, or to our employees and third parties we have engaged to assist us in providing the Services to you (for example, third parties that provide customer support).</p>
<p>We may also be required by law to provide your information to third parties, such as law enforcement agencies.</p>
<p><strong>5.1 Location</strong></p>
<p>We conduct our business in Australia for people located in Australia.</p>
<p>We may disclose information to recipients that are located outside the country in which you are located. We may disclose personal information to contractors and external service providers outside of Australia.</p>
<p>We will take commercially reasonable steps to ensure that any overseas recipient does not breach the Australian Privacy Principles (other than Australian Privacy Principle 1) in relation to the personal information. By using our Website and Services or providing us with your personal information, you consent to the storage and use of your personal information in a country other than the country in which you are located and where a different privacy or data protection regime may apply.</p>
<p><strong>5.2 eBrief</strong></p>
<p>When accessing the eBrief system via our Australian website (https://www.ebrief.net.au/), the computer systems on which your personal information is collected, stored and used are owned by third party vendors and are located in Australia. Your personal information may be transferred to, used, processed or held by us on systems located in Australia.</p>
<p>You consent to your personal information being stored in this location. We may change this location, and if we do, we will give you reasonable notice.<br>
&nbsp;</p>
<h2 class="h3">VI. Security of information</h2>
<p>We adopt commercially reasonable security measures consistent with industry practice to protect your personal information from risks such as loss, misuse, interference, unauthorised access, modification or disclosure.</p>
<p>However, no security system is guaranteed to be 100% secure. Although due care is taken, we cannot guarantee the security of information provided to us or stored via electronic means. You provide all information entirely at your own risk.</p>
<p>We will keep your personal information only for as long as required for our business purposes and otherwise as required by applicable laws. Where we no longer need to keep your personal information, we will take reasonable steps to destroy or de-identify your personal information.<br>
&nbsp;</p>
<h2 class="h3">VII. How can you access, correct or delete the information you have provided to us?</h2>
<p>We will take reasonable steps to ensure that your personal information we hold is accurate, up to date and complete. You have a right to request we provide you with a copy of your personal information or correct or delete any information which is out of date, incorrect, incomplete or misleading. We will grant your request unless doing so would unreasonably impact the privacy of others or is not otherwise permitted by law.</p>
<p>When you request a copy of your personal information, we may need to take measures to verify your identity before providing you with such information.</p>
<p>If you wish to request a copy of your personal information, or update, correct or amend any of your personal information, please contact our Privacy Policy Administrator. We will not charge you a fee for your request, but we may recover from you our reasonable costs of fulfilling your request.</p>
<p>If you choose to have your personal information removed from our active databases, we will do so within a reasonable time. We will take reasonable steps to ensure that your personal information is not used (except as may be required by law) by us after your request.</p>
<p>Your information may still be retained, however, to resolve potential or actual disputes, enforce our End User Agreement or due to technical and legal requirements and constraints related to the security, integrity and operation of the Services.<br>
&nbsp;</p>
<h2 class="h3">VIII. General</h2>
<p><strong>8.1 Other important agreements that govern your use of our Websites and Services</strong></p>
<p>In addition to our privacy policy, your rights and obligations concerning Services are governed by the End User Agreement related to the Services provided to you. Please review the relevant End User Agreement carefully as you must agree to comply before you use the Services.</p>
<p><strong>8.2 Business transfers</strong></p>
<p>We reserve the right to transfer any and all information you provide or that we otherwise collect in connection with the Websites or the Services, in connection with a sale or transfer of assets or of any portion of our business.</p>
<p><strong>8.3 Links to other sites</strong></p>
<p>Our Website or Services may contain links to other websites. We are not responsible for the privacy practices or the content of those other websites. The privacy practices applicable to those other websites may differ substantially from ours, so we advise you to read the privacy policy of those other websites before using them.</p>
<p>Additionally, there may be third party websites that may be providing links to our Website without our knowledge or control. We are not responsible for the content of any third party websites, expressly disclaim any statements or assertions made on such websites, and deny all liability associated with your use of, and the content on, such other websites or advertisements contained therein.<br>
&nbsp;</p>
<h2 class="h3">IX. Contact Us</h2>
<p>If you have any questions or concerns about the treatment of your personal information, compliance with privacy laws or our privacy policy, please contact us in any of the following ways:</p>
<p>Privacy Policy Administrator<br>
Talaw.com Pty Ltd<br>
Level 2, 520 Bourke Street<br>
Melbourne, 3000<br>
Australia</p>
<p>Telephone: Australia +61 3 9020 4456<br>
Email:&nbsp;<a href="mailto:admin@talaw.com">admin@ebrief.net.au</a></p>
<p>We will aim to respond as soon as we can. If you are not satisfied with our response, you may also contact the Australian Information Commissioner. As at the date of this privacy policy, the contact details are as follows:</p>
<p>Office of the Australian Information Commissioner</p>
<p>GPO Box 5218<br>
Sydney NSW 2001</p>
<p>Telephone: 1300 363 992<br>
Email: enquiries@oaic.gov.au</p>
		</div>
				</div>

</div>


{% endblock %}