
<!DOCTYPE html>
{% extends "pdfscanner/base.html" %}
{% load static %}

{% block body_block %}


<button type="button" onmouseover="infoP('Some New Info')" onmouseout="HideinfoP()">Hide content of p</button>
<p>
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    v
    vLet the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
    Let the first letter of a paragraph float to the left and style the letter: span { float: left ... Use float with a list of hyperlinks to create a horizontal menu: .header, .footer ...
</p>


{% endblock %}


