amqp==2.6.1
appdirs==1.4.3
argon2-cffi==20.1.0
asgiref==3.2.10
attrs==20.1.0
billiard==3.6.3.0
blackstone==0.1.15
blis==0.2.4
catalogue==1.0.0
celery==4.4.7
celery-progress==0.0.10
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
ci-info==0.2.0
Click==7.0
configobj==5.0.6
configparser==5.0.0
conllu==4.0
cryptography==3.0
cymem==2.0.3
datedelta==1.3
dateparser==0.7.6
decorator==4.4.2
distlib==0.3.0
Django==3.1
django-celery-results==1.2.1
django-crispy-forms==1.9.2
django-wkhtmltopdf==3.3.0
DoubleMetaphone==0.1
emoji==0.6.0
en-blackstone-proto @ https://blackstone-model.s3-eu-west-1.amazonaws.com/en_blackstone_proto-0.0.1.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
etelemetry==0.2.2
filelock==3.0.12
future==0.18.2
grapheme==0.6.0
httplib2==0.18.1
idna==2.10
importlib-metadata==1.5.0
imutils==0.5.3
iniconfig==1.0.1
iso8601==0.1.12
isodate==0.6.0
Jinja2==2.11.2
kombu==4.6.11
lxml==4.5.2
MarkupSafe==1.1.1
mergedeep==1.3.0
more-itertools==8.4.0
multipledispatch==0.6.0
murmurhash==1.0.2
networkx==2.5
nibabel==3.1.1
nipype==1.5.1
numpy==1.18.1
packaging==20.4
pandas==1.1.1
pdf2image==1.14.0
Pillow==7.0.0
plac==0.9.6
pluggy==0.13.1
preshed==2.0.1
probableparsing==0.0.1
probablepeople==0.5.4
prov==1.5.3
py==1.9.0
pycparser==2.20
pydot==1.4.1
pydotplus==2.0.2
PyMuPDF==1.17.6
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyserial==3.4
pytest==6.0.1
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-dotenv==0.11.0
pytz==2020.1
pyxnat==1.3
PyYAML==5.3
rdflib==5.0.0
recognizers-text==1.0.2a2
recognizers-text-choice==1.0.2a2
recognizers-text-date-time==1.0.2a2
recognizers-text-number==1.0.2a2
recognizers-text-number-with-unit==1.0.2a2
recognizers-text-sequence==1.0.2a2
recognizers-text-suite==1.0.2a2
redis==3.5.3
regex==2020.7.14
requests==2.24.0
rpy2==3.3.5
scipy==1.5.2
simplejson==3.17.2
six==1.12.0
spacy==2.1.8
sqlparse==0.3.1
srsly==1.0.2
thinc==7.0.8
toml==0.10.1
tqdm==4.48.2
traits==6.1.1
tzlocal==2.1
urllib3==1.25.10
vine==1.3.0
virtualenv==20.0.4
XlsxWriter==1.3.3
zipp==2.2.0
